@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: hsl(227.14 31.82% 8.63%);
		--foreground: hsl(220 13% 91%);
		--card: hsl(226 33% 12%);
		--card-foreground: 20 14.3% 4.1%;
		--card-secondary: 240 29% 28%;
		--card-seconary-foreground: 20 14.3% 4.1%;
		--popover: 227.14 31.82% 8.63%;
		--popover-foreground: 220 13% 91%;
		--primary: hsl(47.9 95.8% 53.1%);
		--primary-foreground: hsl(0, 0%, 0%);
		--secondary: 247 39% 18%;
		--secondary-foreground: 0 0% 100%;
		--tertiary: 60 4.8% 95.9%;
		--tertiary-foreground: 228 11% 47%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: hsl(60 4.8% 95.9%);
		--accent-foreground: 220 13% 91%;
		--accent-secondary: 60 4.8% 95.9%;
		--accent-secondary-foreground: 48 96% 53%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--success: 142 70.56% 45.29%;
		--success-foreground: 60 9.1% 97.8%;
		--border: 198.75 21.05% 14.9%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;
		--radius: 0.5rem;

		--chart-1: 48 96% 53%;
		--chart-2: 240 22% 52%;
		--chart-3: 30 80% 55%; /* Orange */
		--chart-4: 280 65% 60%; /* Purple */
		--chart-5: 340 75% 55%; /* Deep Pink */
		--chart-6: 200 65% 45%; /* Muted Blue-Green */
		--chart-7: 15 80% 55%; /* Coral */
		--chart-8: 0 70% 55%; /* Red */
		--chart-9: 180 70% 50%; /* Turquoise */
		--red-roulette: 346 71% 54%;
		--black-roulette: 198.75 21.05% 14.9%;
		--green-roulette: 152.52 53.91% 47.65%;
		--bonus: 217.22 91.22% 59.8%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 47.9 95.8% 53.1%;
		--primary-foreground: 26 83.3% 14.1%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 198.75 21.05% 14.9%;
		--input: 12 6.5% 15.1%;
		--ring: 35.5 91.7% 32.9%;

		--chart-1: 220 70% 50%; /* Blue */
		--chart-2: 160 60% 45%; /* Teal */
		--chart-3: 30 80% 55%; /* Orange */
		--chart-4: 280 65% 60%; /* Purple */
		--chart-5: 340 75% 55%; /* Deep Pink */
		--chart-6: 45 90% 55%; /* Gold */
		--chart-7: 15 80% 55%; /* Coral */
		--chart-8: 0 70% 55%; /* Red */
		--chart-9: 180 70% 50%; /* Turquoise */
	}
}

@layer base {
	* {
		@apply border-border;
	}
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	position: absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
