@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme static inline {
	--breakpoint-2xl: 1440px;

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-background: var(--background);
	--color-background-light: var(--background-light);
	--color-background-lighter: var(--background-lighter);
	--color-background-foreground: var(--background-foreground);

	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-purple-box: var(--purple-box);
	--color-purple-table: var(--purple-table);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-accent-secondary: var(--accent-secondary);
	--color-accent-secondary-foreground: var(--accent-secondary-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-card-secondary: var(--card-secondary);
	--color-card-secondary-foreground: var(--card-secondary-foreground);

	--color-tertiary: var(--tertiary);
	--color-tertiary-foreground: var(--tertiary-foreground);

	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);

	--color-bonus: var(--bonus);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-item: var(--sidebar-item);
	--color-sidebar-background-light: var(--sidebar-background-light);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--font-sans: Quicksand, Manrope, sans-serif;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border, currentcolor);
	}
	* {
		@apply border-border outline-none;
	}
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
	dialog {
		margin: auto;
	}
}

:root {
	--background: hsl(227.14 31.82% 8.63%);
	--background-light: hsl(229.41 31% 11%);
	--background-lighter: hsl(225.71 33.33% 12.35%);
	--foreground: hsl(220 13% 91%);
	--card: hsl(226 33% 12%);
	--card-foreground: hsl(20 14.3% 4.1%);
	--card-secondary: hsl(240 29% 28%);
	--card-seconary-foreground: hsl(20 14.3% 4.1%);
	--popover: hsl(227.14 31.82% 8.63%);
	--popover-foreground: hsl(220 13% 91%);
	--primary: hsl(47.9 95.8% 53.1%);
	--primary-foreground: hsl(0, 0%, 0%);
	--secondary: hsl(247 39% 18%);
	--secondary-foreground: hsl(47.9 95.8% 53.1%);
	--tertiary: hsl(60 4.8% 95.9%);
	--tertiary-foreground: hsl(228 11% 47%);
	--muted: hsl(60 4.8% 95.9%);
	--muted-foreground: hsl(25 5.3% 44.7%);
	--accent: hsl(247 39% 18%);
	--accent-foreground: hsl(47.9 95.8% 53.1%);
	--accent-secondary: hsl(60 4.8% 95.9%);
	--accent-secondary-foreground: hsl(48 96% 53%);
	--destructive: hsl(0 84.2% 60.2%);
	--destructive-foreground: hsl(60 9.1% 97.8%);
	--success: hsl(142 70.56% 45.29%);
	--success-foreground: hsl(60 9.1% 97.8%);
	--border: hsl(198.75 21.05% 14.9%);
	--input: hsl(20 5.9% 90%);
	--ring: hsl(20 14.3% 4.1%);
	--purple-box: hsl(240, 21.63%, 51.96%);
	--purple-table: hsl(246.67, 39.13%, 18.04%);
	--radius: 0.5rem;

	--chart-1: hsl(48 96% 53%);
	--chart-2: hsl(240 22% 52%);
	--chart-3: hsl(30 80% 55%); /* Orange */
	--chart-4: hsl(280 65% 60%); /* Purple */
	--chart-5: hsl(340 75% 55%); /* Deep Pink */
	--chart-6: hsl(200 65% 45%); /* Muted Blue-Green */
	--chart-7: hsl(15 80% 55%); /* Coral */
	--chart-8: hsl(0 70% 55%); /* Red */
	--chart-9: hsl(180 70% 50%); /* Turquoise */
	--red-roulette: hsl(346 71% 54%);
	--black-roulette: hsl(198.75 21.05% 14.9%);
	--green-roulette: hsl(152.52 53.91% 47.65%);
	--bonus: hsl(217.22 91.22% 59.8%);
	/* Sidebar */
	--sidebar-background: hsl(227.14 31.82% 8.63%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
	--sidebar-item: hsl(0 0% 100%);
	--sidebar-background-light: hsl(245.1 90% 80%);
}

@layer utilities {
	/* width */
	::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0);
		position: absolute;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgba(100, 100, 100, 0.1);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
